@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
:root{
    --border: 2px solid black;
    --font: 'Francois One', sans-serif;
}
body {
    background-image: url(study.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(70, 31, 17);
    overflow:visible;
    background-attachment: fixed;
    /* background-color: rgb(255, 235, 235); */
    font-family: var(--font);
}
.griditem{
    border-top: var(--border);
    border-left: var(--border);
}
h2, h1{
    color: rgb(70, 31, 17);
   
}
h1 {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%,0%);
    justify-content: center;
    text-align: center;
}
#tkb {
    z-index: -1;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    position: absolute;
    display: grid;
    grid-template-columns: 0px;
    grid-template-rows: 0;
    top: 350px;
    left: 50%;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(11,50px);
    grid-row-gap: 0;
    grid-column-gap: 0;
    transform: translate(-50%,-50%);
}
.t8, .thu8{
    border-right: var(--border);
}
.tiet9, .titlet9{
    border-bottom: var(--border);
}
.griditem{
    justify-content: center;
    text-align: center;
}
.titlebreak, .break{
    border-left: 0px solid black;
    border-right: 0px solid black;
}
#inputform{
    position: absolute;
    top: 670px;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    text-align: center;
}
#form{
    border: var(--border);
    height: 30px;
    width: 300px;
    padding: 5px;
}

#displayres{
    z-index: -1;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    position: absolute;
    display: grid;
    margin-bottom: 200px;
    top: 740px;
    left: 50%;
    transform: translate(-50%, 0);

    grid-template-columns: 40px 100px 60px 80px 40px 40px 40px 40px 200px 200px 40px 50px;
    justify-content: center;
    text-align: center;
}
.title{
    border: var(--border);
}

button{
    font-family: var(--font);
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}
.fab, .fas{
    font-size: 20px;
    cursor: pointer;
    padding: 0 3px 0 3px;
    color: black;
    display: none;
}
.fa-search{
    display:contents;
    color: black;
    font-size: 25px;
    cursor: pointer;
}
hr{
    position: absolute;
    /* top: 10px; */
}
#contact{
    display: flex;
}

#buttoncontact:hover{
    background: white;
    color: rgb(31, 31, 31);
}
input{
    font-family: var(--font);
}
#buttoncontact{
    display: none;
    border: none;
    transition: 0.25s;
    background-color: rgb(31, 31, 31);
    color: white;
    
    font-family: var(--font);
    padding: 10px;
    font-size: 20px;
}
.child, .tiet{
    color: brown;
}