@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
:root{
    --border: 2px solid black;
    --font: 'Francois One', sans-serif;
    --fontcolor:rgb(70, 31, 17);
    --backgroundcolor: rgb(231, 231, 231);
}
h2 {
    color: black;
}
body {
    background-image: url(study2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--fontcolor);
    overflow:visible;
    background-attachment: fixed;
    /* background-color: rgb(255, 235, 235); */
    font-family: var(--font);
}
.griditem{
    border-top: var(--border);
    border-left: var(--border);
}
h1 {
    color: black;
    position: absolute;
    top: -5px;
    left: 65%;
    transform: translate(-75%,0%);
    justify-content: center;
    text-align: center;
}
#tkb {
    z-index: 9;
    background-color: var(--backgroundcolor);
    border-radius: 10px;
    position: absolute;
    display: grid;
    grid-template-columns: 0px;
    grid-template-rows: 0;
    top: 350px;
    left: 90%;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(11,50px);
    grid-row-gap: 0;
    grid-column-gap: 0;
    transform: translate(-90%,-50%);
}
.t8, .thu8{
    border-right: var(--border);
}
.tiet9, .titlet9{
    border-bottom: var(--border);
}
.griditem{
    justify-content: center;
    text-align: center;
}
.titlebreak, .break{
    border-left: 0px solid black;
    border-right: 0px solid black;
}
#inputform{
    position: absolute;
    top: 670px;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    text-align: center;
}
#form{
    border: var(--border);
    height: 30px;
    width: 300px;
    padding: 5px;
}

#displayres{
    z-index: -1;
    background-color: var(--backgroundcolor);
    border-radius: 10px;
    position: absolute;
    display: grid;
    margin-bottom: 200px;
    top: 740px;
    left: 50%;
    transform: translate(-50%, 0);

    grid-template-columns: 40px 100px 60px 80px 40px 40px 40px 40px 200px 200px 40px 50px;
    justify-content: center;
    text-align: center;
}
.title{
    border: var(--border);
}

button{
    font-family: var(--font);
    cursor: pointer;
}
.fa-envelope{
    margin-left: 6px;
}
.fa-envelope, .fa-github, .fa-facebook-square, .fa-instagram-square{
    font-size: 20px;
    cursor: pointer;
    padding-left: 2px;
    color: black;
    background: var(--backgroundcolor);
}
#idea-name,#code-name{
    font-size:15px ;
    padding:2px 2px 2px 4px;
}
#idea,#code{
    display: none;
    width: 120px;
}
#contact{
    display: flex;
    flex-direction: row;
}

.fa-search{
    display:contents;
    color: black;
    font-size: 25px;
    cursor: pointer;
}
#buttoncontact:hover{
    background: white;
    color: rgb(31, 31, 31);
}
input{
    font-family: var(--font);
    border: var(--border);
    height: 20px;
    width: 300px;
    padding: 5px;
}
#buttoncontact{
    border: none;
    transition: 0.25s;
    background-color: rgb(31, 31, 31);
    color: white;
    width: 100px;
    font-family: var(--font);
    padding: 10px;
    font-size: 20px;
}
.child, .tiet{
    color: brown;
}
#warning{
    position: absolute; 
    top: 600px;
    color: rgb(206, 0, 0);
    z-index: -9;
}
.fa-hand-point-down{
    color: black;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
}
#tracuuform{
    position: absolute;
    top: 120px;
    left: 5.67%;
    transform: translate(5.641%, 0);

}
#tracuuinput{
    width: 400px;
}
#tracuutitle{
    color: black;
    position: absolute;
    padding: 0 0 0 20px;
    top: 50px;
    left: 20%;
    transform: translate(-40%,0);
}
#ketquatracuu {
    max-height: 400px;
    display: none;
    background: var(--backgroundcolor);
    height: auto;
    overflow:scroll; 
    border: 2px solid black;
    position: absolute;
    top: 150px;
    left: 5.75%;
    transform: translate(5.641%, 0);
    width: 410px;
}
@media screen and (max-width: 1125px) {
    
    #tracuuinput{
        width: 200px;
    }
    #ketquatracuu{
        width: 210px;
    }
    
}
@media screen and (max-width: 1000px) {
    #tracuuinput {
        width: 100px;
    }
    #ketquatracuu{
        width: 110px;
    }
    #warning{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    #mahptitle{
        font-size: 20px;
    }
    #form{
        width: 200px;
    }
}
